#ouibounce-modal {
    font-family: 'Open Sans', sans-serif;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}
#ouibounce-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}
#ouibounce-modal .modalOui {
    width: 800px;
    height: 418px;
    z-index: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    -webkit-animation: popin 0.3s;
    animation: popin 0.3s;
}
#ouibounce-modal .modal-title {
    font-size: 18px;
    background-color: #252525;
    color: #fff;
    padding: 10px;
    margin: 0;
    border-radius: 4px 4px 0 0;
    text-align: center;
}
#ouibounce-modal h3 {
    color: #fff;
    font-size: 1em;
    margin: 0.2em;
    text-transform: uppercase;
    font-weight: 500;
}
#ouibounce-modal .modal-body {
    padding: 20px 35px;
    font-size: 0.9em;
    position: inherit !important;
}
#ouibounce-modal form {
    text-align: center;
}

#ouibounce-modal .modal-footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}
#ouibounce-modal .modal-footer p {
    text-transform: capitalize;
    cursor: pointer;
    display: inline;
    border-bottom: 1px solid #344a5f;
}
@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-ms-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes popin {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }

    85% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@-ms-keyframes popin {
    0% {
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }

    85% {
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1;
    }

    100% {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes popin {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }

    85% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.mod_one{
    background: url("../images/popups/one.png") no-repeat center;
    position:relative;
}

.mod_four{
    background: url("../images/popups/four.png") no-repeat center;
    position:relative;
}

.mod_close{
    position:absolute;
    right:10px;
    top:10px;
}

.mod_title1 h1{
    font-size:75px;
    color:#128f8f;
    margin:75px 0 10px 0;
    line-height:65px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1px;
}

.mod_title1{
    text-align: center;
}

.mod_title4 h1{
    font-size:75px;
    color:#fbfcfc;
    line-height:65px;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1px;
    text-shadow: 1px 1px 2px #000000;
    line-height:61px;
}

.mod_title4{
    position:absolute;
    top:60px;
    left:15px;
}

.form-notice{
    text-align: center;
    color:#128f8f;
    font-size:18px;
    margin:5px 0 25px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
}

.form-notice2{
    text-align: center;
    color:#fbfcfc;
    font-size:18px;
    margin:7px 0 0 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
}

.form-notice21{
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    color: #fbfcfc;
    font-size:50px;
    margin:0;
    line-height:38px;
    letter-spacing: -1px;
    margin:0 0 15px 0;
}

.mod-mail-input{
    text-align:center;
    font-size:17px;
    color:#939598;
    background-color: #dcddde;
    width:415px;
    height:35px;
    border:1px solid #46a4a4;
    font-family: 'Open Sans';
    font-weight: 400;
}

.mod-mail-input2{
    text-align:center;
    font-size:16px;
    color:#86a3be;
    background-color: #fff;
    width:315px;
    height:30px;
    border:none;
    font-family: 'Open Sans';
    font-weight: 400;
}

.mod_button_sign{
    text-transform: uppercase;
    font-size:25px;
    color:#fff;
    width:231px;
    height:50px;
    display:block;
    text-align:center;
    background: url("../images/popups/signbutton.png") no-repeat center;
    border:none;
    margin:0 auto;
    cursor: pointer;
    font-family: 'Open Sans Condensed';
    font-weight: 700;
}

.mod_button_sign:hover{
    color:#0a4848;
}

.mod_button_sign2{
    text-transform: uppercase;
    font-size:26px;
    line-height:23px;
    color:#fff;
    width:90px;
    height:90px;
    display:block;
    text-align:center;
    background-color: #f03b29;
    border:4px solid #fff;
    border-radius:45px;
    margin:0 auto;
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    letter-spacing: -1px;
}

.mod_button_sign2:hover{
    color:#902419;
}

.pop4{
    position: absolute;
    top:110px;
    right:25px;
}